body {
    background-color: #222;
    font-family: 'Open Sans', sans-serif;
}

#myBg{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}

.container {
    /* Center Card */
    height: 100vh; 
}

.card {
    color: white;
    background: #000000d0;
    max-width: 500px;
    width: 100%;
}
input.search {
    color: white;
}
.ui.search.selection {
    background: #7c7c7c6b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    padding: 0.4em 1em;
    /* Removes blue background and bordering*/
    outline: none;
    border: none;
    /* Increase width */
    width: 100%;
    max-width: 100%;
}

button {
    background: #7c7c7c2b;
    transition: 0.2s ease-in-out;
    margin: 0.3em;
    /* Removes blue background and border */
    outline: none;
    border: none;
}

button:hover {
    background: #7c7c7c6b;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 900;
}

footer a {
    padding: 20px;
    color: white;
}